<!DOCTYPE html>
<html>
    <head>
      <%- include('partial/linkData') %>
    </head>

    <body>

      <% contentHeader.forEach(function(contentHeaderItem){ %>
        <%- include(contentHeaderItem.view, contentHeaderItem.data) %>
      <% }) %>

      <% contentMenu.forEach(function(contentMenuItem){ %>
        <%- include(contentMenuItem.view, contentMenuItem.data) %>
      <% }) %>
      
      <% content.forEach(function(contentItem){ %>
        <%- include(contentItem.view, contentItem.data) %>
      <% }) %>
      

      <%- include('partial/footer') %>
              
    </body>
</html>