<!DOCTYPE html>
<html>
    <head>
      <%- include('partial/linkData') %>
    </head>

    <body>

      <% contentHeader.forEach(function(contentHeaderItem){ %>
        <%- include(contentHeaderItem.view, contentHeaderItem.data) %>
      <% }) %>

      <% contentMenu.forEach(function(contentMenuItem){ %>
        <%- include(contentMenuItem.view, contentMenuItem.data) %>
      <% }) %>

      <h1 style="color: crimson;margin: 10px 50px;text-align: center;"><%= tb %></h1> 
      
      <% contentSlider.forEach(function(contentSlider){ %>
        <%- include(contentSlider.view, contentSlider.data) %>
      <% }) %>

      <% content.forEach(function(contentItem){ %>
        <%- include(contentItem.view, contentItem.data) %>
      <% }) %>
      

      <%- include('partial/footer') %>
              
    </body>
    <script src="/js/home.js"></script>
    <script src="/js/menu.js"></script>
    <script>
      var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
    </script>
</html>