<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/backend.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"></script>
<script> 
</script> 
</head>
<body>

  <%- include('../partial/header') %>
        <h1 style="text-align: center;">Quản lý đơn hàng</h1> 
        <div class="functionb">
        </div>
        
      </div>

      <div class="container">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
              <thead>
                  <tr>
                    <th>Thứ tự</th>
                    <th>Tên khách hàng</th>
                    <th>email</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Ngày đặt</th>
                    <th>Thanh toán bằng</th>
                    <th>Tình trạng thanh toán</th>
                    <th>Tình trạng đơn hàng</th>
                    <th>Chức năng</th>
                  </tr>
              </thead>
              <tbody>
                <% i=0; showOrder.forEach(function(item){ %>
                  <tr>
                      <td><%= i+1 %></td>
                      <td><%= item.fullname %></td>
                      <td><%= item.email %></td>
                      <td><%= item.phone %></td>
                      <td><%= item.address %></td>
                      <td><%= item.order_date %></td>
                      <td>
                        <% if(item.payment==1) {%>
                          COD
                      <% } %>
                      </td>
                      <td>
                        <% if(item.delivered==0) {%>
                          Chưa thanh toán
                      <% } %>
                      <% if(item.delivered==1) {%>
                        Đã thanh toán
                    <% } %>
                      </td>
                      <td>
                        <% if(item.status==0) {%>
                          Đã huỷ
                      <% } %>
                        <% if(item.status==1) {%>
                          Mới 
                      <% } %>
                      <% if(item.status==2) {%>
                        Đang giao
                    <% } %>
                    <% if(item.status==3) {%>
                      Đã giao 
                  <% } %>
                      </td>
                      <td style="width: 100px;">
                        <a href="/orderDetail/<%=token%>/<%= item.id %>"><button class="btnb infob">Xem</button></a>
                      </td>
      
                    </tr>       
                  <% i++; }) %>
              </tbody>
          </table>
      </div>

  </div>  
</body>
<script src="/js/backendP.js"></script>
</html> 
