<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/backend.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"></script>
<script> 
</script> 
</head>
<body>

  <%- include('../partial/header') %>
        <h1 style="text-align: center;">Thùng rác tài khoản</h1> 
        <div class="functionb">
          <a href="/accountBackend/<%=token%>"><button class="btnb infob">Quay về</button></a>
        </div>
        
      </div>

      <div class="container">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
              <thead>
                  <tr>
                    <th>Thứ tự</th>
                    <th>vai trò</th>
                    <th>Họ tên tài khoản</th>
                    <th>Ngày lập</th>
                    <th>Chức năng</th>
                  </tr>
              </thead>
              <tbody>
                <% i=0; showUserAll.forEach(function(item){ %>
                  <tr>
                      <td><%= i+1 %></td>
                      <td><%= item.user %></td>
                      <td><%= item.surname %> <%= item.name %></td>
                      <td><%= item.created_at %></td>
                      <td style="width: 300px;">
                        <a href="/account/restore/<%=token%>/<%= item.id%>"><button class="btnb infob">Khôi phục</button></a>
                        <a href="/account/destroy/<%=token%>/<%= item.id%>"><button class="btnb dangerb">Xoá</button></a>
                      </td>     
                    </tr>       
                  <% i++; }) %>
              </tbody>
          </table>
      </div>

  </div>  
</body>
<script src="/js/backendP.js"></script>
</html> 
